fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
pydantic
pydantic-settings
email-validator
python-jose[cryptography]
argon2-cffi
pandas
openpyxl
aiofiles
python-multipart
apscheduler==3.11.3
